* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  height: 100vh;
  display: flex;
  background:cornsilk;
}

#cardboard {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  width: calc(25% - 10px);
  height: 33%;
  margin: 5px;
  transform-style: preserve-3d;
  transition: 0.3s;
  position: relative;
}

.memory-card:active {
  transform: scale(0.97);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  background: darkcyan;
}

.front-face {
  transform: rotateY(180deg);
}

#pontos{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkcYan;
}
#erro{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;
}
#menu{
  padding: 25px;
  border: solid 1px black;
  height: 520px;
}
#menu_control{
  text-align: center;
  padding: 10px;
  width: 300px;
  border: solid 1px black;
  height: 520px;
  padding-top: 20px;
}
#nivel{
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color:black;
  width: 280px;
  height: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: cornsilk;
  color:black;
}
#Start{
  
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:darkcyan;
  border: none;
  border-radius: 10px;
  color:black;
  width: 280px;
  height: 50px;
}
